html {
    height: 100%;
}

body {
    background-color: #313131;
    padding: 0px;
    margin: 0px 20px;
    height: 100%;
}

h3 {
    font-size: 22px;
    color: #666666;    
    font-weight: normal;
    margin: 0px 0px 24px 0px;    
}

a {
    text-decoration: none;
    color: #a7c353;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.container {
    width: 100%;            
    max-width: 1200px;    
    margin: 0 auto;
    background-color: white;
    font-family: Georgia,Times,Times New Roman,serif; 
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.marb2 {
    margin-bottom: 20px;
}

.top-border {
    width: 100%;
    height: 5px;
    background-color: #a7c353;
    float: left;
}

.logo-block {
    float: left;
    max-width: 160px;
    padding: 28px 0px 0px 20px;
}

.logo-block span {
    float: left;
    color: #999999;
}

.logo-text {
    font-size: 26px;
}

.logo-text::first-letter {
    font-size: 32px;
}

.logo-slogan {
    font-size: 12px;
}

.main-menu {
    float: right;
    display: block;
}

.main-menu  ul,
.main-menu  ul li {
    margin: 0;
    padding: 0;
}
.main-menu  ul {
    list-style-type: none;    
}

.main-menu li {
    display: block;
    float: left;     
}

.main-menu ul li a {
    display: block;
    padding: 52px 20px 32px 20px;
    font-size: 13px;    
    color: #979797;   
}

.main-menu ul li a:hover{
    background: linear-gradient(0deg, #f6f6f3 0%, #ffffff 100%);
    color: #707070;
}

.main-menu .select-menu a {
    background-color: #a7c353;
    color: white;
}

.main-menu .select-menu a:hover {
    background: linear-gradient(0deg, #a0bb4e 0%, #a7c353 100%);
    color:white;
}

.bottom-border {
    height: 1px;
    margin: 0px 20px;
    background-color: #a7c353;    
}

.shout {
    margin: 0 auto;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 42px 120px 42px 120px;
    color: #666666;    
}

.slider {
    margin: 0px 20px;    
    overflow: hidden;
}


.slider-wrapper {      
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-item img{
    width: 100%;    
}

.slider-title {
    position: absolute; 
    right: 100px;
    bottom: 23px;
    width: 35%;
}

.slider-title h2{   
   display: block;
   width: 100%;
   padding: 8px 14px;
   margin: 10px 0px;
   text-align: center;
   font-size: 22px;
   font-weight: normal;
   color: white;
   background-color: #a0bb4e;   
}

.slider-title span{    
    padding: 14px;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #999999;
    background-color: white;
    display: block;
}

.slider-control {
    content: '';
    text-decoration: none;
    position: absolute;
    display: block;
    top: 50%;
    z-index: 10; 
    width: 52px;    
    height: 52px;     
    transform: translateY(-50%);
    opacity: 0.5;        
    border: 2px solid #a7c353;    
    background-color: black;
    border-radius: 50%; 
}

.slider-control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.slider-control:hover {
    opacity: 1;
}

.slider-control-left {
    left: 1%;
}

.slider-control-left::before {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 16px;
    height: 28px;
    background-image: url(../images/left_arrow.png);
}

.slider-control-right {
    right: 1%;        
}

.slider-control-right::before {
    position: absolute;
    top: 12px;
    left: 20px;
    width: 16px;
    height: 28px;
    background-image: url(../images/right_arrow.png);
}

.slide-switch {
    text-align: center;    
    margin: 0 auto;
    padding: 18px 0px 18px 0px;
}

.slider-point {    
    margin: 2px;
    display: inline-block;
    content: '';
    width: 10px;    
    height: 10px;     
    border: 3px solid #a7c353;    
    background-color: #a7c353;
    border-radius: 50%;
    cursor: pointer;
}

.slider-point-active {
    background-color: transparent;
}

.separator {
    height: 1px;
    margin: 20px 20px;
    background-color: #e2e2e2;    
}

.content {
    box-sizing: border-box;   
    margin-bottom: 155px;
}
.image-border {
    border: 1px solid #e2e2e2;
    padding: 4px;
}

.image-content {
    width: 100%;
    height: 100%;   
    display: block;
}    

.content p {
    font-size: 13px;
    color: #999999;
    line-height: 1.5em;
}

.readmore {
    text-align: right;
    font-size: 13px;
    color: #a7c353;
    float: right;     
}

.col1-3 {    
    box-sizing: border-box;  
    padding: 20px;
    width: calc(100%/3);
    float: left;  
    min-width: 237px;      
}

.service-item {
    padding-bottom: 90px;
} 

.service-item div{
    width: 65%;
    float: left;    
}

.service-item img {
    width: 64px;
    height: 64px;
    background-color: whitesmoke;
    float: left;
    margin-right: 18px;
}

.service-item h5 {
    font-size: 14px;
    color: #878787;
    font-weight: 200;
    margin: 0px;
}

.service-item p {
    margin-top: 10px;
    display: block;
}

.author {
    position: relative;
    font-size: 16px;
    color: #989898;
}

.author::before {
    content: '\201c';    
    height: 53px;    
    font-family: Georgia, serif;
    font-size: 130px;
    line-height: 0.8em;
    font-weight: bold;    
    color: #d4d4d4;
    display: inline-block;
    vertical-align: middle;
}
      
.author span {
    font-weight: bold;
}

.col1-4 {        
    box-sizing: border-box;  
    padding: 20px 10px 10px 10px;
    width: calc(100%/4);
    float: left;    
    min-width: 183px;
}

.left {
    padding-left: 0px;
}

.right {
    padding-right: 0px;
    
}

.footer {
    background-color: #313131;    
    margin: 0 auto;  
}

.footer h4 {
    color: white;
    font-size: 16px;    
    font-weight: normal;    
    margin: 20px 0px 0px 0px;
}

.footer .readmore {
    font-size: 12px;
}

.footer-line {
    height: 1px;
    margin: 20px 0px;
    background-color: #3a3a3a;    
}

.details p{
    color: #999999;
    font-size: 12px;
    line-height: 1.5em;
}

.social-block a {
    font-size: 12px;
    margin-left: 4px;
}

.social-site{
    border-bottom: 1px solid #3a3a3a;
    margin-top: 16px;
}

.circle {        
    position: relative;
    width: 32px;
    height: 32px;    
    border-radius: 50%;    
    background-color: #383838;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;    
    margin: 0px 8px 8px 0px;
}

.circle:hover {
    background-color: transparent;
}

.icon {    
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;    
    height: 16px;
    float: left;
    background: url(../images/socail_icons.png)  no-repeat;;
}

.linkin {
    background-position: 0px 0px;
}

.twitter {
    background-position: -16px 0px;
}

.pinterest{
    background-position: -32px 0px;
}

.rss{
    background-position: -48px 0px;
}

.blog-block {
    color: #999999;
    padding-bottom: 10px;
}

.blog-block h5 {
    color: white;
    font-size: 13px;    
    font-weight: normal;    
    margin: 20px 0px 0px 0px; 
}

.blog-block span, .blog-block p {
    font-size: 11px;
    line-height: 1.5em;
    margin-top: 6px;
}
.form-input {
    width: 100%;    
    box-sizing: border-box;
    color: #989898;
    font-family: Georgia,Times,Times New Roman,serif; 
    font-size: 13px;
    line-height: 1.5em;
    padding: 6px 12px 6px 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #383838;
    border: none;
}

.form-input:focus {
    background-color: #363636;
}

.form-textarea {
    resize: none;
    margin-bottom: 6px;
}

.botton {
    font-family: Georgia,Times,Times New Roman,serif; 
    font-size: 13px;        
    color: #313131;    
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
    border: none;
}

.button-action {
    font-weight: bold;
    background-color: #a7c353;
}

.button-action:hover, .button-action:focus {
    background-color: #b7da51;
}
.button-action:active {
    background-color: #c5eb54;
}

.copyright {
    background-color: #313131;
    padding-bottom: 20px;
    font-size: 12px;
    color: #999999;
}

.copyright .right {
    float: right;
}

  /* Landscape - телефоны */
  @media  (max-width: 480px) {
    .col1-4 {
        width: 100%;    
    }
  }
 
  @media (min-width: 481px) and (max-width: 767px) {
    .col1-4 {
        width: 49%;
        display: inline-block;
        float: none;
    }
    .col1-4::after:nth-child(2) {
        content: "";
        clear: both;
        display: table;
    }

  }
  
  @media (max-width: 767px) {
    .col1-3 {
        width: 100%;
    }

    .main-menu {
        margin-right: 20px;        
    }

    .main-menu ul li a {
        margin-top: 20px;
        padding: 32px 5px 32px 5px;
        font-size: 11px;
    }

    .shout {        
        font-size: 16px;
        padding: 20px 40px 20px 40px;
    }
    .slider-title h2 {
        font-size: 16px;
    }
    .slider-title span {
        display: none;
    }
  }


 
  /* От портретного планшета до ландшафтного экрана и настольных дисплеев */
  @media (min-width: 768px) and (max-width: 979px) {
    .main-menu ul li a {
        padding: 42px 10px 32px 10px;
        font-size: 12px;
    }

    .shout {        
        font-size: 18px;
    }

    .service-item img {
        width: 48px;
        height: 48px;
    }
   }
